css/main.css

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;

}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/*字體*/

body {
    font: 16px/26px  Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
/*    border-bottom: 20px solid #e44d26;*/
	position: fixed;
	width: 100%;
}

.main aside {
    
    text-align: center;
}

.header-container,
.footer-container,
.main aside {
    background: rgba(255, 255, 255, 0.8);
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #F75C2F;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 100px 0;
}

.main article h1 {
    font-size: 3em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container {
    
    text-align: center;
    background-color: #f16529;
    color: white;
    font-family:'文泉驛微米黑', 'LiHei Pro', '微軟正黑體';
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.Main-title{
	padding: 200px;
    height: 400px;
	text-align: center;
	background-image: url(../images/Lemon_Drops2.jpg);
}
.Main-title-border{
	border-style: solid;
	border-width: 8px;
	border-color: #F16529;
	margin: 0 auto;
	width: 400px;
	height: 100px;
}
.Main-title-word{
    color: #F16529;
    font-size: 72px;
    padding: 38px;
    margin: 0 auto;
}
.Main-button{
	height: 200px;
	width: 1020px;
	margin: 70px auto; 
}

.Main-button-word{
    color: #F16529;
    font-size: 50px;
    padding: 38px;
    margin: 0 auto;
}


/*=========================================
BENSON edited: FoodDonate Page;
 ==========================================*/
.FoodDonate{
    /*text-align: center;*/
    background: #00AA90;
    padding: 80px;
}
.FDtitle{
    font-size: 50px;
    color: black;
}

.descript{
    font-style: italic;
    font-size: 25px;
    color: white;
}

.FoodDonate-content{
    width: 100%;
    display: inline-block;   
}


/* Basic Grey */
.basic-grey {
    width: 500px;
    margin-right: auto;
    background: #A5DEE4;
    padding: 20px 30px 20px 30px;
    font: 19px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DADADA;
}
.basic-grey h1 {
    font: 25px Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px 0px 5px;
}
.basic-grey label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea,.basic-grey select{
    border: 1px solid #DADADA;
    color: #888;
    height: 40px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
}
.basic-grey .button:hover {
    background: #CF7A7A
}

.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    
    
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}
.myButton:active {
    position:relative;
    top:1px;
}

.FoodExchange{
    /*text-align: center;*/
    background:#EFBB24;
    padding: 80px;
}

.myButton1 {
    -moz-box-shadow: 0px 4px 14px -7px #3dc21b;
    -webkit-box-shadow: 0px 4px 14px -7px #3dc21b;
    box-shadow: 0px 4px 14px -7px #3dc21b;
    background-color:#44c767;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:16px 39px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
    left: 485px;

}
.myButton1:hover {
    background-color:#5cbf2a;
}
.myButton1:active {
    position:relative;
    top:1px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 15px 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
/*
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
*/

/* ============
    WIDE: Menu
   ============ */

    nav {
		display: inline-block;
		height: 75px;
        width: 38%;
    }

    .loginFB{
    	position: fixed;
		padding-left: 450px;
		padding-top: 25px;
	}
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1140px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*=================================
Tina edit
==================================*/

.ideacontent{

    font-family:'文泉驛微米黑', 'LiHei Pro', '微軟正黑體';
    width:600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}


.idea{
    
    background: #FEDFE1;
    text-align: center;
    padding: 100px;

}


.thinkabout{
    font-size: 27px;
    color:green;
}

.trulyneed{
    font-size: 30px;
    color:orange;
    text-align: center;
}

.wewantto{
    font-size: 27px;
    color:#00E600;
}

.changeway{
    font-size: 23px;
    color:#FF6363;
}
    
[src="images/hannah.png"]{
    width: 250px;
    height:250px;
}

[src="images/benson.png"]{
    width: 250px;
    height:250px;
}

[src="images/Tina.png"]{
    width: 250px;
    height:250px;
}


.aboutus{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: #A5BEE4;
    color: white;
    font-family:'文泉驛微米黑', 'LiHei Pro', '微軟正黑體';
}

.aboutus h3{
    color:black;
}

.profile{
    padding: 50px auto;
}
