
.banner
{
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #DDD;
	box-shadow: 0px 3px 9px #CCC, inset 0px -5px 2px rgba(0,0,0,0.3);
	background-image: linear-gradient(bottom, #FCFCFC 5%, #BBE0FF 40%, #FCFCFC 70%);
	background-image: -moz-linear-gradient(bottom, #FCFCFC 5%, #BBE0FF 40%, #FCFCFC 70%);
	background-image: -o-linear-gradient(bottom, #FCFCFC 5%, #BBE0FF 40%, #FCFCFC 70%);
	background-image: -webkit-linear-gradient(bottom, #FCFCFC 5%, #BBE0FF 40%, #FCFCFC 70%);
	background-image: -ms-linear-gradient(bottom, #FCFCFC 5%, #BBE0FF 40%, #FCFCFC 70%);
}
.title
{
	font-family: 'Microsoft JhengHei', '微軟正黑體';
	font-size: 28px;
	font-weight: bold;
	text-shadow: 0px 0px 5px #999;
	margin-bottom: 10px;
	display: inline-block;
}
.subtitle
{
	font-size: 16px;
	font-family: 'Century Gothic';
	text-shadow: 1px 1px 0px #FFF;
	color: gray;
	margin-bottom: 5px;
	display: inline-block;
}

.main_menu
{
	display: inline;
	position: absolute;
	top: 200px;
}
.main_menu > .category
{
	margin-bottom: 30px;
	padding-left: 10px;
	list-style: none;
	width: 150px;
}
.main_menu > .category a
{
	outline :0;
	padding: 10px 30px 10px 30px;
	margin: 10px auto;
	font-size: 20px;
	color: #222;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
	border: solid 1px #EEE;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #AAA;
	background-clip: padding-box;
	font-family: 'Microsoft Jhenghei', '微軟正黑體'; 
	text-decoration: none;
	background-image: linear-gradient(bottom, #FFFFFF 5%, #DFF0FF 26%, #FFFFFF 82%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 5%, #DFF0FF 26%, #FFFFFF 82%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 5%, #DFF0FF 26%, #FFFFFF 82%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 5%, #DFF0FF 26%, #FFFFFF 82%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 5%, #DFF0FF 26%, #FFFFFF 82%);
}	
.main_meny > .category > .log
{
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
}
.main_menu .category a:active
{
	background-image: linear-gradient(bottom, #DFF0FF 5%, #FFFFFF 26%, #DFF0FF 82%);
	background-image: -o-linear-gradient(bottom, #DFF0FF 5%, #FFFFFF 26%, #DFF0FF 82%);
	background-image: -moz-linear-gradient(bottom, #DFF0FF 5%, #FFFFFF 26%, #DFF0FF 82%);
	background-image: -webkit-linear-gradient(bottom, #DFF0FF 5%, #FFFFFF 26%, #DFF0FF 82%);
	background-image: -ms-linear-gradient(bottom, #DFF0FF 5%, #FFFFFF 26%, #DFF0FF 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #DFF0FF),
		color-stop(0.26, #FFFFFF),
		color-stop(0.82, #DFF0FF)
	);
	box-shadow: 2px 2px 5px 0 #AAA;
}
.main_menu > .category:first-child
{
}
.main_menu > .category:first-child > *
{
}
.main_menu > .category:first-child > input
{
	display: block;
	outline: none;
	background-image: -moz-linear-gradient(bottom, #FFFFFF 5%, #E9F9FF 26%, #FFFFFF 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, #FFFFFF),
		color-stop(0.26, #E9F9FF),
		color-stop(0.82, #FFFFFF)
	);
	height: 30px;
	margin-top: 20px;
	border: 1px solid #DDD;
	font-size: 14px;
	width: 145px;
	font-family: "Microsoft Jhenghei", '微軟正黑體', 'Century Gothic';
	color: #999;
}
.main_menu > .category:first-child > .insSearchHelp
{
	font-size: 10px;
	font-family: "Microsoft Jhenghei", "Century Gothic";
}

#footer
{
	text-shadow: 1px 1px 1px #CCC;
	font-family: 'Microsoft Jhenghei', '微軟正黑體';
	font-size: 14px;
	color: #555;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;	
	border-top: 1px solid #9999BB;
}
