* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
font-family: 'MoolBoranRegular';
src: url('MoolBoran.eot');
src: local('MoolBoran Regular'), 
              local('MoolBoran'), 
              url('MoolBoran.woff') format('woff'), 
              url('MoolBoran.ttf') format('truetype'), 
              url('MoolBoran.svg#MoolBoran') format('svg');
} 

a {
    text-decoration: none;
    //color: rgb(61, 146, 201);
	color: #FF8C00;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

h1{
    font-weight: normal;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    //background: rgb(61, 79, 93);
    background: rgba(255, 215, 0, 0.8);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
    //font-family:'MoolBoranRegular';
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.brand-title {
    /*text-transform: uppercase;*/
    /*font-family: '文泉驛微米黑', 'LiHei Pro', '微軟正黑體';*/
    font-size: 2.8em;
    font-family:'MoolBoranRegular';
}
.brand-tagline {
    font-weight: 300;
    //color: rgb(176, 202, 219);
	color: #CD853F;
     font-size: 1.7em;
    font-family: 'Calibri';
    /*font-family:  '文泉驛微米黑', 'LiHei Pro', '微軟正黑體';*/
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-family:'MoolBoranRegular';
   font-size: 1.8em;
    letter-spacing: 0.05em;
}
.nav-item a {
    background: transparent;
    //border: 2px solid rgb(176, 202, 219);
    border: 2px solid #CD853F;
	color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    /*text-transform: uppercase;*/
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    //border: 2px solid rgb(61, 146, 201);
    border: 2px solid #FF8C00;
	text-decoration: none;
}

.content-subhead {
    /*text-transform: uppercase;*/
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
    font-family: '文泉驛微米黑', 'LiHei Pro', '微軟正黑體';
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    font-family: '文泉驛微米黑', 'LiHei Pro', '微軟正黑體';
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}


.pure-button{
    padding-bottom: 0em;
}